services:
  swcat:
    build:
      context: .
      args:
        VERSION: ${VERSION:-dev}
    ports:
      - "9191:8080" # host:container
    volumes:
      - ${CATALOG_DIR:-./examples/flights}:/catalog:rw
    user: "${UID}:${GID}" # Ensure files written on the host env have proper ownership.
