services:
  swcat:
    build:
      context: .
      args:
        VERSION: ${VERSION:-dev}
    ports:
      - "9191:8080" # host:container
    volumes:
      - ${CATALOG_DIR:-./examples/flights}:/data:rw
    user: "${UID}:${GID}" # Ensure files written on the host env have proper ownership.
    environment:
      - SWCAT_ADDR=${SWCAT_ADDR:-0.0.0.0:8080}
      - SWCAT_ROOT_DIR=/data
      - SWCAT_CATALOG_DIR=${SWCAT_CATALOG_DIR:-catalog}
      - SWCAT_CONFIG=${SWCAT_CONFIG:-swcat.yml}

  swcat-remote:
    build:
      context: .
      args:
        VERSION: ${VERSION:-dev}
    ports:
      - "9191:8080" # host:container
    environment:
      - SWCAT_ADDR=${SWCAT_ADDR:-0.0.0.0:8080}
      - SWCAT_GIT_URL=${SWCAT_GIT_URL:-}
      - SWCAT_GIT_REF=${SWCAT_GIT_REF:-}
      - SWCAT_GIT_USER=${SWCAT_GIT_USER:-}
      - SWCAT_GIT_PASSWORD=${SWCAT_GIT_PASSWORD:-}
      - SWCAT_CATALOG_DIR=${SWCAT_CATALOG_DIR:-catalog}
      - SWCAT_CONFIG=${SWCAT_CONFIG:-swcat.yml}
