{{- define "components_rows.html" -}}
{{- if .Components }}
{{- range .Components }}
<tr class="border-t">
    <td class="px-4 py-2">
        <a href="{{ .GetRef | toURL }}" class="text-blue-600 hover:underline">
            {{ .GetQName }}
        </a>
    </td>
    <td class="px-4 py-2">
        <a href="{{ .GetSystem | toURL }}" class="text-blue-600 hover:underline">
            {{ .GetSystem.QName }}
        </a>
    </td>
    <td class="px-4 py-2">{{ .Spec.Owner.QName }}</td>
    <td class="px-4 py-2">
        {{ range .Metadata.Tags }}
        <span class="inline-block bg-gray-200 rounded-full px-2 py-1 text-xs font-semibold text-gray-700 mr-2">{{ . }}</span>
        {{ end }}
    </td>
</tr>
{{- end }}
{{- else }}
<tr>
    <td colspan="4" class="px-4 py-2 text-center text-gray-500">
        No components found
    </td>
</tr>
{{- end }}
{{- end }}