<!DOCTYPE html>
<html lang="en">

<head>
    {{ template "head.html" . }}
</head>

<body class="min-h-screen bg-gray-50 p-4" data-page="search">
    {{ template "nav.html" . }}

    <main class="w-full max-w-screen-lg mx-auto space-y-6 bg-white shadow rounded-xl p-6">
        <h1 class="text-2xl font-semibold text-center">Search entities</h1>

        <!-- Search -->
        {{ template "search_bar.html" . }}

        <!-- Table -->
        <div class="overflow-x-auto">
            <table class="min-w-full table-auto border-collapse">
                <thead class="bg-gray-100">
                    <tr>
                        <th class="px-4 py-2 text-left">Name</th>
                        <th class="px-4 py-2 text-left">Kind</th>
                        <th class="px-4 py-2 text-left">Title / Description</th>
                    </tr>
                </thead>
                <tbody id="{{ .EntitiesLabel }}-tbody">
                    {{ template "entities_rows.html" . }}
                </tbody>
            </table>
        </div>
    </main>

    {{ template "footer.html" . }}

    <script type="module" src="/static/dist/main.js?v={{.CacheBustingKey}}"></script>
</body>

</html>