<!DOCTYPE html>
<html lang="en">

<head>
    {{ template "head.html" . }}
</head>

<body class="min-h-screen bg-gray-50 p-4" data-page="graph">
    {{ template "nav.html" . }}

    <main class="w-full max-w-screen-lg mx-auto space-y-4 bg-white shadow p-4">
        <div>
            <h1 class="text-xl font-semibold">Graph builder</h1>
            <p class="text-gray-600 text-sm">
                Create ad hoc diagrams for selected entities.
                Shift-click an entity in the graph to search for its related entities.
            </p>
        </div>

        <!-- Search -->
        {{ template "search_bar.html" . }}

        <!-- Results -->
        <div id="{{ .EntitiesLabel }}-results">
            {{ template "graph_results.html" . }}
        </div>

        {{ template "graph_svg.html" . }}
    </main>

    {{ template "footer.html" . }}

    <script type="module" src='{{ asset "main.js" }}'></script>
</body>

</html>