<!DOCTYPE html>
<html lang="en">

<head>
    {{ template "head.html" . }}
</head>

<body class="min-h-screen bg-gray-50 p-4" data-page="graph">
    {{ template "nav.html" . }}

    <main class="w-full max-w-screen-lg mx-auto space-y-6 bg-white shadow rounded-xl p-6">
        <h1 class="text-2xl font-semibold text-center">Graph builder</h1>
        <p class="text-gray-600 text-center text-sm">
            Create ad hoc diagrams for selected entities.
            Shift-click an entity in the graph to search for its related entities.
        </p>

        <!-- Search -->
        {{ template "search_bar.html" . }}

        <!-- Table -->
        <div class="overflow-x-auto border rounded-xl max-h-60 overflow-y-auto">
            <table class="min-w-full table-auto border-collapse">
                <thead class="bg-gray-100">
                    <tr>
                        <th class="px-4 py-2 text-left">Name</th>
                        <th class="px-4 py-2 text-left">Kind</th>
                        <th class="px-4 py-2 text-left">System</th>
                        <th class="px-4 py-2 text-right"><!--Action--></th>
                    </tr>
                </thead>
                <tbody id="{{ .EntitiesLabel }}-tbody">
                    {{ template "graph_rows.html" . }}
                </tbody>
            </table>
        </div>

        {{ template "graph_svg.html" . }}
    </main>

    {{ template "footer.html" . }}

    <script type="module" src="/static/dist/main.js?v={{.CacheBustingKey}}"></script>
</body>

</html>