<!DOCTYPE html>
<html lang="en">

<head>
    {{ template "head.html" }}
</head>

<body class="min-h-screen bg-gray-50 p-4" data-page="group">
    <!-- Navbar -->
    {{template "nav.html" .}}

    <main class="w-full max-w-screen-lg mx-auto space-y-6 bg-white shadow rounded-xl p-6">
        <h1 class="text-2xl font-semibold text-center">Group Details</h1>

        {{ with .Group }}
        <div class="space-y-3">
            <div class="flex justify-between items-start">
                {{ if .Metadata.Title }}
                <div>
                    <h2 class="text-xl font-semibold">{{ .GetQName }}</h2>
                    <p class="text-m text-gray-500">{{ .Metadata.Title }}</p>
                </div>
                {{ else }}
                <h2 class="text-xl font-semibold">{{ .GetQName }}</h2>
                {{ end }}
                <div class="flex items-center space-x-4">
                    <span class="text-gray-500">{{ .Spec.Type }}</span>
                    <a href="{{ . | toEntityURL }}/edit"
                        class="bg-blue-600 text-white py-1 px-3 rounded text-sm">
                        Edit YAML
                    </a>
                </div>
            </div>

            {{ if or .Metadata.Tags .Metadata.Labels }}
            <div class="flex flex-wrap items-center gap-2">
                {{ range formatTags .Metadata.Tags }}
                <span title="tag" class="inline-block bg-gray-200 rounded-full px-2 py-1 text-xs font-semibold text-gray-700">{{ . }}</span>
                {{ end }}
                {{ range formatLabels .Metadata }}
                <span title="label" class="inline-block bg-blue-200 rounded-full px-2 py-1 text-xs font-semibold text-blue-700">{{ . }}</span>
                {{ end }}
            </div>
            {{ end }}

            {{ if .Metadata.Description }}
            <div class="prose text-gray-700">
                {{ .Metadata.Description | markdown }}
            </div>
            {{ end }}

            <div class="grid grid-cols-2 gap-4">
                <div>
                    <h3 class="font-semibold">Type</h3>
                    <p>{{ .Spec.Type }}</p>
                </div>
                {{ if .Spec.Profile.DisplayName }}
                <div>
                    <h3 class="font-semibold">Display Name</h3>
                    <p>{{ .Spec.Profile.DisplayName }}</p>
                </div>
                {{ end }}
                {{ if .Spec.Profile.Email }}
                <div>
                    <h3 class="font-semibold">Email</h3>
                    <p><a class="text-blue-600 hover:underline" href="mailto:{{ .Spec.Profile.Email }}">{{ .Spec.Profile.Email }}</a></p>
                </div>
                {{ end }}
                {{ if .Spec.Parent }}
                <div>
                    <h3 class="font-semibold">Parent</h3>
                    <p><a href="{{ .Spec.Parent | toURL }}" class="text-blue-600 hover:underline">{{ .Spec.Parent }}</a></p>
                </div>
                {{ end }}
            </div>
        </div>

        {{ if .Metadata.Links }}
        <div class="border rounded-xl">
            <h3 class="text-lg font-semibold bg-gray-100 px-4 py-2 rounded-t-xl">Links</h3>
            <div class="p-4">
                <ul class="list-disc list-inside">
                    {{ range .Metadata.Links }}
                    <li><a href="{{ .URL }}" class="text-blue-600 hover:underline">{{ .Title }}</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
        {{ end }}

        {{ if .Spec.Children }}
        <div>
            <h3 class="text-lg font-semibold">Children</h3>
            <ul class="list-disc list-inside">
                {{ range .Spec.Children }}
                <li><a href="{{ . | toURL }}" class="text-blue-600 hover:underline">{{ .QName }}</a></li>
                {{ end }}
            </ul>
        </div>
        {{ end }}

        {{ if .Spec.Members }}
        <div>
            <h3 class="text-lg font-semibold">Members</h3>
            <ul class="list-disc list-inside">
                {{ range .Spec.Members }}
                <li>{{ . }}</li>
                {{ end }}
            </ul>
        </div>
        {{ end }}

        {{ else }}
        <p class="text-center text-gray-500">Group not found</p>
        {{ end }}

    </main>

    <script type="module" src="/static/dist/main.js"></script>

</body>

</html>