<meta charset="utf-8" />
<title>swcat &ndash; Software Catalog</title>


<!-- Favicon -->
<link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="72x72" href="/static/icons/favicon-72x72.png">
<link rel="icon" type="image/png" sizes="96x96" href="/static/icons/favicon-96x96.png">
<!-- Tailwind -->
<link rel="stylesheet" href="/static/dist/main.css?{{.CacheBustingKey}}" />

<script src="/static/js/htmx-2.0.6.min.js"></script>
<script src="/static/js/path-params-2.0.1.min.js"></script>