<nav class="bg-white shadow mb-4 max-w-screen-lg mx-auto rounded-xl">
    <div class="px-4">
        <div id="navbar-links" class="flex space-x-4">
            {{range .NavBar}}
            {{if .Active }}
            <a href="{{.URI}}" data-params="{{.ParamsList}}"
                class="py-3 px-4 text-blue-600 font-semibold border-b-2 border-blue-600">{{.Title}}</a>
            {{else}}
            <a href="{{.URI}}" data-params="{{.ParamsList}}"
                class="py-3 px-4 text-gray-700 hover:text-blue-600 font-medium">{{.Title}}</a>
            {{end}}
            {{end}}
        </div>
    </div>
</nav>