<!DOCTYPE html>
<html lang="en">

<head>
    {{ template "head.html" . }}
</head>

<body class="min-h-screen bg-gray-50 p-4" data-page="resources">
    {{ template "nav.html" . }}

    <main class="w-full max-w-screen-lg mx-auto space-y-4 bg-white shadow p-4">
        <!-- Search -->
        {{ template "search_bar.html" . }}

        <!-- Results -->
        <div id="{{ .EntitiesLabel }}-results">
            {{ template "resources_results.html" . }}
        </div>
    </main>

    {{ template "footer.html" . }}

    <script type="module" src='{{ asset "main.js" }}'></script>
</body>

</html>