<!DOCTYPE html>
<html lang="en">

<head>
    {{ template "head.html" . }}
</head>

<body class="min-h-screen bg-gray-50 p-4" data-page="resource">
    <!-- Navbar -->
    {{template "nav.html" .}}

    <main class="w-full max-w-screen-lg mx-auto space-y-6 bg-white shadow rounded-xl p-6">
        <h1 class="text-2xl font-semibold text-center">Resource details </h1>

        {{ $readOnly := .ReadOnly }}
        {{ $customContent := .CustomContent }}

        {{ with .Resource }}
        <div class="space-y-3">
            <div class="flex justify-between items-start">
                {{ if .Metadata.Title }}
                <div>
                    <h2 class="text-xl font-semibold">{{ .GetQName }}</h2>
                    <p class="text-m text-gray-500">{{ .Metadata.Title }}</p>
                </div>
                {{ else }}
                <h2 class="text-xl font-semibold">{{ .GetQName }}</h2>
                {{ end }}

                <div class="flex items-center space-x-2">
                    <span class="text-gray-500">{{ .Spec.Type }}</span>
                    {{ if not $readOnly }}
                    {{ template "entity_toolbar.html" . }}
                    {{ end }}
                </div>
            </div>

            {{ template "tags_labels.html" . }}

            {{ template "metadata_description.html" . }}

            <div class="grid grid-cols-2 gap-4">
                <div>
                    <h3 class="font-semibold">System</h3>
                    <p><a href="{{ .Spec.System | toURL }}" class="text-blue-600 hover:underline">{{ .Spec.System.QName
                            }}</a></p>
                </div>
                <div>
                    <h3 class="font-semibold">Owner</h3>
                    <p><a href="{{ .Spec.Owner | toURL }}" class="text-blue-600 hover:underline">{{ .Spec.Owner.QName
                            }}</a></p>
                </div>
            </div>
        </div>

        {{ template "metadata_links.html" . }}

        {{ template "custom_content.html" $customContent }}

        {{ if or .Spec.DependsOn .GetDependents }}
        <div class="border rounded-xl">
            <h3 class="text-lg font-semibold bg-gray-100 px-4 py-2 rounded-t-xl">Dependencies</h3>
            <div class="grid grid-cols-2 gap-4 p-4">
                {{ if .GetDependents }}
                <div>
                    <h3 class="font-semibold">Incoming</h3>
                    <ul class="list-disc list-inside">
                        {{ range .GetDependents }}
                        <li>
                            <a href="{{ . | toURL }}" class="text-blue-600 hover:underline">{{ .QName }}</a>
                            {{ if .Label }} <span class="text-gray-500">{{ .Label }}</span> {{ end }}
                        </li>
                        {{ end }}
                    </ul>
                </div>
                {{ end }}

                {{ if .Spec.DependsOn }}
                <div>
                    <h3 class="font-semibold">Outgoing</h3>
                    <ul class="list-disc list-inside">
                        {{ range .Spec.DependsOn }}
                        <li>
                            <a href="{{ . | toURL }}" class="text-blue-600 hover:underline">{{ .QName }}</a>
                            {{ if .Label }} <span class="text-gray-500">{{ .Label }}</span> {{ end }}
                        </li>
                        {{ end }}
                    </ul>
                </div>
                {{ end }}
            </div>
        </div>
        {{ end }}

        {{ else }}
        <p class="text-center text-gray-500">Resource not found</p>
        {{ end }}


        {{ if .SVG }}
        <div id="relationships-svg">
            {{ .SVG }}
        </div>
        <script type="application/json" id="relationships-svg-meta">
            {{ .SVGMetadataJSON }}
        </script>
        {{ end }}

    </main>

    {{ template "footer.html" . }}

    <script type="module" src="/static/dist/main.js?{{.CacheBustingKey}}"></script>

</body>

</html>