{{- define "resources_rows.html" -}}
{{- if .Resources }}
{{- range .Resources }}
<tr class="border-t">
    <td class="px-4 py-2">
        <a href="/ui/resources/{{ .GetQName | urlencode }}" class="text-blue-600 hover:underline">
            {{ .GetQName }}
        </a>
    </td>
    <td class="px-4 py-2">
        <a href="/ui/systems/{{ .Spec.System.QName| urlencode }}" class="text-blue-600 hover:underline">
            {{ .Spec.System.QName }}
        </a>
    </td>
    <td class="px-4 py-2">{{ .Spec.Owner.QName }}</td>
    <td class="px-4 py-2">{{ .Spec.Type }}</td>
</tr>
{{- end }}
{{- else }}
<tr>
    <td colspan="4" class="px-4 py-2 text-center text-gray-500">
        No resources found
    </td>
</tr>
{{- end }}
{{- end }}