{{- define "systems_rows.html" -}}
{{- if .Systems }}
{{- range .Systems }}
<tr class="border-t">
    <td class="px-4 py-2">
        <a href="/ui/systems/{{ .Metadata.Name | urlencode }}" class="text-blue-600 hover:underline">
            {{ .Metadata.Name }}
        </a>
    </td>
    <td class="px-4 py-2">{{ .Metadata.Title }}</td>
    <td class="px-4 py-2">{{ .Spec.Owner }}</td>
    <td class="px-4 py-2">{{ .Spec.Domain }}</td>
</tr>
{{- end }}
{{- else }}
<tr>
    <td colspan="4" class="px-4 py-2 text-center text-gray-500">
        No systems found
    </td>
</tr>
{{- end }}
{{- end }}