<!DOCTYPE html>
<html lang="en">

<head>
    {{ template "head.html" }}
</head>

<body class="min-h-screen bg-gray-50 p-4" data-page="system">
    <!-- Navbar -->
    {{template "nav.html" .}}

    <main class="w-full max-w-screen-lg mx-auto space-y-6 bg-white shadow rounded-xl p-6">
        <h1 class="text-2xl font-semibold text-center">System Details</h1>

        {{ with .System }}
        <div class="space-y-4">
            <div class="flex justify-between items-start">
                {{ if .Metadata.Title }}
                <div>
                    <h2 class="text-xl font-semibold">{{ .GetQName }}</h2>
                    <p class="text-m text-gray-500">{{ .Metadata.Title }}</p>
                </div>
                {{ else }}
                <h2 class="text-xl font-semibold">{{ .GetQName }}</h2>
                {{ end }}
                <div class="flex items-center space-x-4">
                    <span class="text-gray-500">{{ .Spec.Type }}</span>
                    <a href="/ui/entities/{{ . | refEncode }}/edit"
                        class="bg-blue-600 text-white py-1 px-3 rounded text-sm">
                        Edit YAML
                    </a>
                </div>
            </div>

            {{ if .Metadata.Description }}
            <div class="prose text-gray-700">
                {{ .Metadata.Description | markdown }}
            </div>
            {{ end }}

            <div class="grid grid-cols-2 gap-4">
                <div>
                    <h3 class="font-semibold">Domain</h3>
                    <p><a href="/ui/domains/{{ .Spec.Domain.QName | urlencode }}" class="text-blue-600 hover:underline">{{ .Spec.Domain.QName }}</a></p>
                </div>
                <div>
                    <h3 class="font-semibold">Owner</h3>
                    <p><a href="/ui/groups/{{ .Spec.Owner.QName | urlencode }}" class="text-blue-600 hover:underline">{{ .Spec.Owner.QName }}</a></p>
                </div>
            </div>
        </div>

        {{ if .Metadata.Links }}
        <div class="border rounded-xl">
            <h3 class="text-lg font-semibold bg-gray-100 px-4 py-2 rounded-t-xl">Links</h3>
            <div class="p-4">
                <ul class="list-disc list-inside">
                    {{ range .Metadata.Links }}
                    <li><a href="{{ .URL }}" class="text-blue-600 hover:underline">{{ .Title }}</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
        {{ end }}

        <div class="grid grid-cols-3 gap-4">
            {{ if .GetComponents }}
            <div class="border rounded-xl">
                <h3 class="text-lg font-semibold bg-gray-100 px-4 py-2 rounded-t-xl">Components</h3>
                <div class="p-4">
                    <ul class="list-disc list-inside">
                        {{ range .GetComponents }}
                        <li><a href="/ui/components/{{ .QName | urlencode }}" class="text-blue-600 hover:underline">{{ .QName }}</a></li>
                        {{ end }}
                    </ul>
                </div>
            </div>
            {{ end }}

            {{ if .GetResources }}
            <div class="border rounded-xl">
                <h3 class="text-lg font-semibold bg-gray-100 px-4 py-2 rounded-t-xl">Resources</h3>
                <div class="p-4">
                    <ul class="list-disc list-inside">
                        {{ range .GetResources }}
                        <li><a href="/ui/resources/{{ .QName | urlencode }}" class="text-blue-600 hover:underline">{{ .QName }}</a></li>
                        {{ end }}
                    </ul>
                </div>
            </div>
            {{ end }}

            {{ if .GetAPIs }}
            <div class="border rounded-xl">
                <h3 class="text-lg font-semibold bg-gray-100 px-4 py-2 rounded-t-xl">APIs</h3>
                <div class="p-4">
                    <ul class="list-disc list-inside">
                        {{ range .GetAPIs }}
                        <li><a href="/ui/apis/{{ .QName | urlencode }}" class="text-blue-600 hover:underline">{{ .QName }}</a></li>
                        {{ end }}
                    </ul>
                </div>
            </div>
            {{ end }}
        </div>

        {{ else }}
        <p class="text-center text-gray-500">System not found</p>
        {{ end }}

        {{ if .SVG }}
        <div id="relationships-svg">
            {{ .SVG }}
        </div>
        <script type="application/json" id="relationships-svg-meta">
            {{ .SVGMetadataJSON }}
        </script>        
        {{ end }}
    </main>

    <script type="module" src="/static/dist/main.js"></script>

</body>

</html>