{{- define "systems_rows.html" -}}
{{- if .Systems }}
{{- range .Systems }}
<tr class="border-t">
    <td class="px-4 py-2">
        <a href="{{ . | toURL }}" class="text-blue-600 hover:underline">
            {{ .GetQName }}
        </a>
    </td>
    <td class="px-4 py-2">{{ .Metadata.Title }}</td>
    <td class="px-4 py-2">
        <a href="{{ .Spec.Domain | toURL }}" class="text-blue-600 hover:underline">
            {{ .Spec.Domain.QName }}
        </a>
    </td>
    <td class="px-4 py-2">{{ .Spec.Owner.QName }}</td>
</tr>
{{- end }}
{{- else }}
<tr>
    <td colspan="3" class="px-4 py-2 text-center text-gray-500">
        No systems found
    </td>
</tr>
{{- end }}
{{- end }}