{{ if or .Metadata.Tags .Metadata.Labels }}
<div class="flex flex-wrap items-center gap-2">
    {{ range formatTags .Metadata.Tags }}
    <span title="{{.Value}} ({{.Type}})" class="inline-block bg-gray-200 rounded-full px-2 py-1 text-xs font-semibold text-gray-700">{{ .DisplayString }}</span>
    {{ end }}
    {{ range formatLabels .Metadata }}
    <span title="{{.Key}}: {{.Value}} ({{.Type}})" class="inline-block bg-blue-200 rounded-full px-2 py-1 text-xs font-semibold text-blue-700">{{ .DisplayString }}</span>
    {{ end }}
</div>
{{ end }}
