@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {

    /* --- Graphviz Styling --- */
    .clickable-node:hover {
        cursor: pointer;
    }

    /* Override Graphviz font settings, if present. */
    .graphviz-svg text {
        /* Value is copied from the font-family seen for the whole HTML. */
        font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
    }

    .graphviz-svg .node text {
        font-size: 11px;
    }

    .graphviz-svg .edge text {
        font-size: 10px;
        font-style: italic;
        fill: #374151;
    }

    /* Hover over edges */
    .graphviz-svg .clickable-edge:hover path {
        /* Arrow line */
        cursor: pointer;
        stroke: #808080;
        stroke-width: 3;
    }
    .graphviz-svg .clickable-edge:hover polygon {
        /* Arrow head */
        fill: #808080;
        stroke: #808080;
        stroke-width: 3;
    }
}
